html,
body {
  /* height: 100%; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  /* min-height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 800px;
  height: 800px;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
}

.grid-cells {
  /* background-color: red; */
  border: 1px solid black;
  flex-basis: calc(100% / 16);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.grid-cells:hover {
  background-color: yellow;
}

.pressed {
  background-color: red;
}